.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .left-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  mat-toolbar .userImage {
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    margin: auto 0px;
    vertical-align: middle;
  }
  
  mat-icon .userImage {
    vertical-align: middle;
  }
  
  .pointerCursor {
    cursor: pointer;
  } 